<div class="container">
    <div class="left">
        <h1 class="title">
            <span>Office</span>Connect
        </h1>
        <ul class="menu">
            <li class="menu-item active">
                <mat-icon svgIcon="custome-chat"></mat-icon>
                Chats
            </li>
            <li class="menu-item">
                <mat-icon svgIcon="custome-contact"></mat-icon>
                Contacts
            </li>
        </ul>
    </div>
    <div class="right">
        <div class="details">
            <p class="name">Good Evening, Manprit</p>
            <p class="number">+91 9834870884</p>
        </div>
        <div class="profile">
            <img src="../../../../assets/icons/person-circle.svg" alt="profile-placeholder">
        </div>
    </div>
</div>