<div class="container">
    <header>
        <div class="profile-picture">
            <img src="../../../../../assets/avatars/avatar_1.jpg" alt="avatar_1">
        </div>
        <p class="name">John Doe</p>
    </header>
    <div class="main-content">
        <chat-single-chat-message-container [chatMessages]="chatMessage"/>
        <div class="input-container">
            <form>
                <input type="text">
                <div class="action">
                    <button type="button" mat-icon-button>
                        <mat-icon svgIcon="custome-paperclip"></mat-icon>
                    </button>
                    <button type="button" mat-icon-button>
                        <mat-icon svgIcon="custome-image"></mat-icon>
                    </button>
                    <button type="button" mat-icon-button>
                        <mat-icon svgIcon="custome-link"></mat-icon>
                    </button>
                    <button type="button" class="send-button" mat-icon-button>
                        <mat-icon svgIcon="custome-send"></mat-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>