<div class="section_1">
    <div class="profile-picture">
        <img src="../../../../../assets/avatars/avatar_1.jpg" alt="avatar_1">
    </div>
    <div class="details">
        <p class="name"> John Doe <span class="active-indicator"></span> </p>
        <p class="number"> +91 98765 43210 </p>
    </div>
</div>
<div class="section_2">
    <button type="button">
        <mat-icon svgIcon="custome-call"></mat-icon>
    </button>
    <button type="button">
        <mat-icon svgIcon="custome-vedio"></mat-icon>
    </button>
    <button type="button">
        <mat-icon svgIcon="custome-mute"></mat-icon>
    </button>
    <button type="button" disabled>
        <mat-icon svgIcon="custome-briefcase"></mat-icon>
    </button>
</div>
<div class="section_3">
    <p>Hello Everyone! 👋</p>
</div>
<div class="section_4">
    <p>Possess skills:</p>
    <div class="chips-container">
        <div class="chip">JavaScript</div>
        <div class="chip">UI/UX</div>
        <div class="chip">TypeScript</div>
        <div class="chip">HTML5</div>
        <div class="chip">CSS3</div>
    </div>
</div>