@import '../../assets/scss/variables';
.container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: $mainContainerHeight;
    color: #fff;
    outline: 2px solid #000;

    .main-container{
        height: inherit;
        width: -webkit-fill-available;
    }
}