:host{
    flex-grow: 1;
    height: inherit;
    width: -webkit-fill-available;
    overflow: auto;

    &::-webkit-scrollbar{
        display: none;
    }
}

.container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: flex-start;
    align-items: flex-start;
    width: -webkit-fill-available;
    padding: 1rem;
}