@import '../../../../../assets/scss/variables';

.container {
    width: 20rem;
    height: calc($mainContainerHeight - 2rem);
    margin: 1rem 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.5rem;


    form {
        width: -webkit-fill-available;
        width: -moz-available;
        position: relative;
        color: #78787d;

        mat-icon {
            position: absolute;
            left: 0.5rem;
            top: 0.8rem;

        }

        input {
            width: inherit;
            height: 3rem;
            border: none;
            outline: none;
            background-color: #16171b;
            border-radius: 1rem;
            padding-inline-start: 2.5rem;
            padding-inline-end: 1rem;
            color: #fff;
            font-size: 1rem;

            &::-webkit-search-cancel-button {
                display: none;
            }

        }
    }

    
}