@import '../../../../../assets/scss/variables';

.container {
    width: 20rem;
    height: calc($mainContainerHeight - 2rem);
    margin: 1rem 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.5rem;


    form {
        width: -webkit-fill-available;
        position: relative;
        color: #78787d;

        mat-icon {
            position: absolute;
            left: 0.5rem;
            top: 0.8rem;

        }

        input {
            width: inherit;
            height: 3rem;
            border: none;
            outline: none;
            background-color: #16171b;
            border-radius: 1rem;
            padding-inline-start: 2.5rem;
            padding-inline-end: 1rem;
            color: #fff;
            font-size: 1rem;

            &::-webkit-search-cancel-button {
                display: none;
            }

        }
    }

    ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 1rem;
        margin-block: 1rem;
        padding-inline-start: 0rem;
        width: -webkit-fill-available;

        li {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            width: inherit;
            gap: 0.8rem;
            color: #7d7c85;
            cursor: pointer;
            padding: 1rem;
            border-radius: 1rem;
            will-change: background-color;
            transition: background-color 0.2s ease-in-out;

            .profile-picture_container {
                position: relative;

                .profile-picture {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: none;
                    width: 3rem;
                    height: 3rem;
                    border-radius: 2rem;
                    overflow: hidden;

                    img {
                        width: inherit;
                        height: inherit;
                        object-fit: cover;
                    }
                }

                .indicator {
                    position: absolute;
                    bottom: -0.3rem;
                    right: -0.3rem;
                    width: 1rem;
                    height: 1rem;
                    border-radius: 1rem;
                    background-color: red;
                    color: #fff;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 0.1rem;
                    font-size: 0.8rem;
                }
            }

            .details {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                flex-grow: 1;

                .user {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;
                    width: -webkit-fill-available;
                    gap: 0.2rem;

                    .title {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        width: inherit;

                        .name {
                            flex-grow: 1;
                            color: #fff;
                            font-weight: 600;
                            font-size: 1rem;

                            .active-indicator{
                                width: 0.6rem;
                                height: 0.6rem;
                                background-color: #97e245;
                                display: inline-block;
                                border-radius: 1rem
                            }
                        }
                    }
                }

                p {
                    margin-block: 0rem;

                    &.last_message {
                        margin-block-start: 0.3rem;
                    }
                }
            }

            &:is(:hover, .active) {
                background-color: #1b1d23;
            }
        }
    }

    mat-accordion {
        width: -webkit-fill-available;

        .mat-expansion-panel {
            box-shadow: unset;
            background-color: unset;

            &:not(.mat-expanded) {
                border-radius: 1rem;

                .mat-expansion-panel-header {
                    &:hover {
                        background-color: #1b1d23;
                    }
                }
            }
            
            &.mat-expanded{
                .mat-expansion-panel-header{
                    height: 48px;
                }
            }

        }
    }
}