<div class="container">
    <ul class="menu">
        <li class="menu-item">
            <div class="left">
                <mat-icon svgIcon="custome-pinned"></mat-icon>
                <p>Pinned</p>
            </div>
            <p class="number">10</p>
        </li>
        <li class="menu-item active">
            <div class="left">
                <mat-icon svgIcon="custome-multi-chats"></mat-icon>
                <p>All</p>
            </div>
            <p class="number">2</p>
        </li>
        <li class="menu-item">
            <div class="left">
                <mat-icon svgIcon="custome-blocked"></mat-icon>
                <p>Blocked</p>
            </div>
            <p class="number">1</p>
        </li>
        <li class="menu-item">
            <div class="left">
                <mat-icon svgIcon="custome-trash"></mat-icon>
                <p>Trash</p>
            </div>
            <p class="number"></p>
        </li>
    </ul>
</div>